PORT=3000
RECRUITER_SECRET=recruiter
USER_SECRET=user
ROOT_DOCS_PATH=/api/v1
UPLOAD_DIR=/uploads
NODE_ENV=development

DB_NAME=test
DB_HOST=localhost
DB_USERNAME=test
DB_PASSWORD=test
DB_PORT=5432

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RECAPTCHA_SECRET=

# Google Drive Configuration
GOOGLE_DRIVE_CLIENT_EMAIL=""
GOOGLE_DRIVE_PRIVATE_KEY=""
GOOGLE_DRIVE_UPLOAD_FOLDER_ID=""

BACKEND_URL=""
FRONTEND_URL=""
MAIL_USER=""
MAIL_PASSWORD=""
DEFAULT_MAIL_TO=""
APP_NAME=""
